<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

    <body>
      <div class="row mx-0 px-0">
     <div class="bg blue-gradient navi mx-0 px-0">

       <div class="col-md-12 mx-0 px-0 text-center py-3 mt-0"
       mdbPopover="Cerrar Sesión"
       placement="right"
       mdbWavesEffect
       triggers="hover">
        <a href="/error" class="text-light"><i class="fas fa-power-off fa-lg"></i></a>
       </div>



       <hr class="my-2">

       <div class="col-md-12 mx-0 px-0 text-center py-2"
       mdbPopover="Regresar"
       placement="right"
       mdbWavesEffect
       triggers="hover">
        <a href="/dashboard" class="text-warning" ><i class="fas fa-chevron-circle-left fa-lg"></i></a>
       </div>

       <div class="col-md-12 mx-0 px-0 text-center py-3"
       mdbPopover="Menú Principal"
       placement="right"
       mdbWavesEffect
       triggers="hover">
        <a href="/teachers" class="text-light"><i class="fas fa-home fa-lg "></i></a>
       </div>


       <div class="col-md-12 mx-0 px-0 text-center py-3"
       mdbPopover="Lista de Profesores"
       placement="right"
       mdbWavesEffect
       triggers="hover">
        <a href="/dashboard" class="text-light"><i class="fas fa-list-ul fa-lg"></i></a>
       </div>




     </div>
      <!--/.Navbar-->
      <div class="col-md-11 col-sm-11 mx-auto px-0">
        <router-outlet></router-outlet>
      </div>
      </div>
    </body>
  </html>



